body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-header {
    background-color: #EF4527;
}

.navbar-brand {
    color: #fff;
}

body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-header > a {
    color: #fff;
}

.navbar-inverse {
  background-color: #EF4527;
  border-color: #EF4527;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.jumbotron {
  height: 600px;
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 300;
  line-height: 2.1428571435;
  color: white;
  text-shadow: #444 0 1px 1px;
  background-color: #eeeeee;
  background-image: url(/Content/Images/17180239120_1e9d504141_o-compressor.jpg);
  background-size: cover;
  text-align: center;
}